[defaults]
inventory = inventory/localhost.yml
interpreter_python = auto_silent
retry_files_enabled = False
roles_path = roles
stdout_callback = default

[privilege_escalation]
become = True
become_method = sudo
